body{
    background-image: url('8b5767d97568a18a747eda9f902d05e5.jpeg');
    background-size: cover;
}
table{
    border: none;
    outline: none;
}
tr{
    border: none;
    outline: none;
}
.in{
    width: 622px;
    height: 100px;
    text-align: left;
    font-size: 300%;
    background: none;

}
.td{
    width: 102px;
    height: 102px;

    outline: none;
    border: none;
}
.button{
    width: 100px;
    height: 100px;
    background: #ff67da;
    border: none;
    outline: none;
}
.button:hover{
    width: 102px;
    height: 102px;
    background: #3aa;
    border: none;
    outline: none;
    transition-duration: 500ms;
}
.button:focus{
    width: 100px;
    height: 100px;
    background: #1f3afa;
    border: none;
    outline: none;
}
.button1{
    width: 100px;
    height: 200px;
    background: #ff67da;
    border: none;
    outline: none;
}
.button1:hover{
    width: 102px;
    height: 202px;
    background: #3aa;
    border: none;
    outline: none;
    transition-duration: 500ms;
}
.button1:focus{
    width: 100px;
    height: 200px;
    background: #1f3afa;
    border: none;
    outline: none;
}
.p{
    background: none;
    font-size: 300%;

}
#kim{
    text-overflow: ellipsis;
}